body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form {
    display: flex;
    flex-direction: row;

    margin-top: 30px;
}

.search {
    border-width: 1px;
}

#search_bar {
    width: 500px;
    height: 30px;

    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#search_btn {
    width: 50px;
    height: 34px;

    border-radius: 10%;
}

#resultados {
    margin-top: 5px;
}

.resultado {
    width: 100%;

    padding-left: 2px;
}
h2 {
    font-size: 40px;
}
h2 a {
    text-decoration: none;
    color: black;
}
h2 a:hover {
    color: blue;
}
h3 {
    font-size: 30px;
}
p {
    font-size: 20px;
}